<script type="text/javascript" src="{% static 'kora/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'kora/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'kora/js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'kora/js/materialize.clockpicker.js' %}"></script>
<script type="text/javascript" src="{% static 'kora/js/pagination.min.js' %}"></script>
<script type="text/javascript" src="{% static 'kora/js/sweetalert2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'kora/js/custom.js' %}"></script>