{% extends 'books/base.html' %}
{% block title %}Add New Series{% endblock %}

{% block body %}
	<section>
		<div class="row">
			<div class="col s12 m8 offset-m2">
				<div class="card z-depth-5">
					<div class="card-content">
						<span class="card-title">Add New Series</span>
						<form action="" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							{% include 'accounts/forms/template.html' %}
							<div class="row">
						    	<div class="input-field col s12">
						    		<button class="btn waves-effect waves-light green lighten-1" type="submit">Add Series
										<span><i class="fa fa-book"></i></span>
									</button>
						    	</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
