<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="Book Sharing App">
	<meta name="author" content="Rajat Srivastava">
	<link rel="stylesheet" type="text/css" href="{% static 'kora/css/fonts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'kora/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'kora/fontawe/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'kora/css/sweetalert2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'kora/css/custom.css' %}">
	<title class="samarkan">
		{% block title %}Kora Kagaz{% endblock %}
	</title>
	<style type="text/css">
		body {
			background-size: cover;
		}
		.a2 {
			background-image: url('{% static "kora/images/a2.jpg" %}') !important;
		}
		.a3 {
			background-image: url('{% static "kora/images/a3.jpg" %}') !important;
		}
		.a4 {
			background-image: url('{% static "kora/images/a4.jpg" %}') !important;
		}
		.a5 {
			background-image: url('{% static "kora/images/a5.jpg" %}') !important;
		}
		.a7 {
			background-image: url('{% static "kora/images/a9.jpg" %}') !important;
		}
	</style>
</head>
<body class="{% block bgimg %}{% endblock %}">

	<div class="container">
		{% block body%}{% endblock %}
	</div>

	<script type="text/javascript" src="{% static 'kora/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'kora/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'kora/js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'kora/js/materialize.clockpicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'kora/js/pagination.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'kora/js/sweetalert2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'kora/js/custom.js' %}"></script>

	{% block script %}{% endblock %}
</body>
</html>
