<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="Book Sharing App">
	<meta name="author" content="Rajat Srivastava">
	{% include 'kora/csslinks.html' %}
	<title class="samarkan">
		{% block title %}Kora Accounts{% endblock %}
	</title>
	<style type="text/css">
		body {
			background-size: cover;
		}
		.a2 {
			background-image: url('{% static "kora/images/a2.jpg" %}') !important;
		}
		.a3 {
			background-image: url('{% static "kora/images/a3.jpg" %}') !important;
		}
		.a4 {
			background-image: url('{% static "kora/images/a4.jpg" %}') !important;
		}
		.a5 {
			background-image: url('{% static "kora/images/a5.jpg" %}') !important;
		}
		.a7 {
			background-image: url('{% static "kora/images/a9.jpg" %}') !important;
		}
	</style>
</head>
<body class="{% block bgimg %}{% endblock %}">

	<div class="container">
		{% block body%}{% endblock %}
	</div>

	{% include 'kora/jslinks.html' %}
	{% block script %}{% endblock %}
</body>
</html>
