<ul class="dropdown-content deep-orange darken-2" id="dropdown-add">
	<li><a href="{% url 'books:series-add' %}">Add Series</a></li>
	<li><a href="{% url 'books:book-add' %}">Add Books</a></li>
	<li><a href="{% url 'books:author-add' %}">Add Authors</a></li>
</ul>
<ul class="dropdown-content deep-orange darken-2" id="dropdown-book">
	<li><a href="{% url 'books:index' %}">All</a></li>
	<li><a href="{% url 'books:authors' %}">By Authors</a></li>
</ul>
<ul class="dropdown-content deep-orange darken-2" id="dropdown-account">
	<li><a href="{% url 'accounts:profile' %}">Profile <span><i class="fa fa-user fa-fw"></i></span></a></li>
	<li><a href="#!">Settings <span><i class="fa fa-cog fa-fw"></i></span></a></li>
	<li><a href="{% url 'accounts:logout' %}">Logout <span><i class="fa fa-sign-out fa-fw"></i></span></a></li>
</ul>
