{% load template_extras %}
{% for field in form %}
	<div class="row">
		{% if field|fieldtype == 'ClearableFileInput' %}
			<div class="input-field file-field col s12">
				<div class="btn green lighten-1">
					<span>{{ field.label }}</span>
					<input type="file" name="{{ field.name }}">
				</div>
				<div class="file-path-wrapper">
					<input class="file-path validate" type="text">
				</div>
			</div>
		{% elif field|fieldtype == 'DateTimeInput' %}
			<div class="input-field col s12">
				<span class="red-text">
					{{ field.errors }}
				</span>
				<input type="text" name="{{ field.name }}" class="datepicker">
				{{ field.label_tag }}
			</div>
		{% elif field|fieldtype == 'Textarea' %}
			<div class="input-field col s12">
				<span class="red-text">
					{{ field.errors }}
				</span>
				<textarea name="{{ field.name }}" id="" cols="30" rows="10" class="materialize-textarea"></textarea>
				{{ field.label_tag }}
			</div>
		{% else %}
			<div class="input-field col s12">
				<span class="red-text">
					{{ field.errors }}
				</span>
				{{ field }}
				{{ field.label_tag }}
			</div>
		{% endif %}
	</div>
{% endfor %}
