<li>
	<form action="{% url 'musique:search' %}" method="GET">
		<div class="input-field col s4">
			<input type="text" name="search" id="search" placeholder="Search musique...">
			<button class="btn deep-orange" type="submit">Search</button>
		</div>
	</form>
</li>
<!-- <li><a href="#">Login</a></li> -->
<li><a href="{% url 'musique:index' %}">musique</a></li>
<li><a href="{% url 'musique:album-list' %}">Albums</a></li>
<li><a href="#!" class="dropdown-button" data-activates="dropdown-add">Add New <span><i class="fa fa-angle-down"></i></span></a></li>
<li><a href="{% url 'musique:upload' %}">Upload</a></li>
{% if request.user.is_authenticated %}
<li>
	<a href="#!" class="dropdown-button" data-activates="dropdown-account">Hi, {{ request.user }} <i class="material-icons right">arrow_drop_down</i></a>
</li>
{% else %}
	<li><a href="{% url 'accounts:login' %}">Login</a></li>
{% endif %}
