{% extends 'books/base.html' %}

{% block body %}
	<section>
		<div class="row">
		{% for author in all_authors %}
			<div class="col m4 s12 center">
				<a href="{% url 'books:author' author.id %}" class="deep-orange-text">
					<div class="card z-depth-5">
						<div class="card-content">
							<span class="card-title">{{author.name}}</span>
							<!-- <img src="{{ book.logo_file.url }}" class="img responsive-img" style="height: 350px;"> -->
						</div>
					</div>
				</a>
			</div>
		{% endfor %}		
		</div>
	</section>
{% endblock %}