<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}Kora Kagaz{% endblock %}
	</title>
	{% load staticfiles %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content="Book Sharing App">
	<meta name="author" content="Rajat Srivastava">
	<link rel="stylesheet" type="text/css" href="{% static 'books/css/fonts.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'books/css/materialize.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'books/fontawe/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'books/css/sweetalert2.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'books/css/custom.css' %}">
	<style type="text/css">
		body {
			background-size: cover;
			opacity: 0.8
		}
		.a2 {
			background-image: url('{% static 'books/images/a2.jpg' %}') !important;
		}
		.a3 {
			background-image: url('{% static 'books/images/a3.jpg' %}') !important;
		}
		.a4 {
			background-image: url('{% static 'books/images/a4.jpg' %}') !important;
		}
		.a5 {
			background-image: url('{% static 'books/images/a5.jpg' %}') !important;
		}
		.a7 {
			background-image: url('{% static 'books/images/a8.jpg' %}') !important;
		}
	</style>
</head>
<body class="{% block bgimg %}a5{% endblock %}">
	<div class="navbar-fixed">
		<ul class="dropdown-content deep-orange darken-2" id="dropdown-add">
			<li><a href="{% url 'books:series-add' %}">Add Series</a></li>
			<li><a href="{% url 'books:book-add' %}">Add Books</a></li>
			<li><a href="{% url 'books:author-add' %}">Add Authors</a></li>
		</ul>
		<ul class="dropdown-content deep-orange darken-2" id="dropdown-book">
			<li><a href="{% url 'books:index' %}">All</a></li>
			<li><a href="{% url 'books:authors' %}">By Authors</a></li>
		</ul>

		<ul class="side-nav deep-orange darken-2" id="mobili">
			<ul class="dropdown-content deep-orange darken-2" id="dropdown-add">
				<li><a href="{% url 'books:series-add' %}">Add Series</a></li>
				<li><a href="{% url 'books:book-add' %}">Add Books</a></li>
				<li><a href="{% url 'books:author-add' %}">Add Authors</a></li>
			</ul>
			<ul class="dropdown-content deep-orange darken-2" id="dropdown-book">
				<li><a href="{% url 'books:index' %}">All</a></li>
				<li><a href="{% url 'books:authors' %}">By Authors</a></li>
			</ul>

			<li>
				<form action="{% url 'books:search' %}" method="POST">
					{% csrf_token %}
					<div class="input-field col s4">
						<input type="text" name="search" id="search" placeholder="Search Books...">
						<button class="btn deep-orange" type="submit">Search</button>
					</div>
				</form>
			</li>
			<!-- <li><a href="#">Login</a></li> -->
			<li><a href="{% url 'books:index' %}">Books</a></li>
			<li><a href="#">Series</a></li>
			<li><a href="#!" class="dropdown-button" data-activates="dropdown-add">Add New <span><i class="fa fa-angle-down"></i></span></a></li>
			<li><a href="{% url 'books:upload' %}">Upload</a></li>
			<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
		</ul>

		<nav class="deep-orange accent-1">
			<div class="nav-wrapper" style="padding-left: 10px">
				<a class="brand-logo">Kora Kagaz</a>
				<a href="#" data-activates="mobili" class="button-collapse"><span><i class="fa fa-reorder"></i></span></a>
				<ul id="deski" class="right hide-on-med-and-down" style="padding-right: 10px;">
					<li>
						<form action="{% url 'books:search' %}" method="POST">
							{% csrf_token %}
							<div class="input-field col s8">
								<input type="search" name="query" id="search-nav">
								<label class="label-icon" for="search"><i class="material-icons">search</i></label>
								<i class="material-icons">close</i>
							</div>
						</form>
					</li>
					<li><a href="#!" class="dropdown-button" data-activates="dropdown-book">Book List <i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a href="#">Series</a></li>
					<li><a href="#!" class="dropdown-button" data-activates="dropdown-add">Add New <i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a href="{% url 'books:upload' %}">Upload</a></li>
					{% if request.user.is_authenticated %}
						<li><a href="{% url 'accounts:logout' %}">Logout</a></li>
					{% else %}
						<li><a href="{% url 'accounts:login' %}">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
	</div>

	<div class="container">
		{% block body%}{% endblock %}
	</div>

	<script type="text/javascript" src="{% static 'books/js/jquery.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'books/js/jquery-ui.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'books/js/materialize.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'books/js/materialize.clockpicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'books/js/pagination.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'books/js/sweetalert2.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'books/js/custom.js' %}"></script>

	{% block script %}{% endblock %}
</body>
</html>
