{% extends 'books/base.html' %}

{% block bgimg %}a7{% endblock %}
{% block body %}
	<section>
		<div class="row">
		{% for book in all_books %}
			<div class="col m4 s12 center">
				<a href="{% url 'books:detail' book.id %}" class="white-text">
					<div class="card z-depth-5">
						<div class="card-content deep-orange lighten-2" style="padding: 1px;">
							<h5> {{book.title}} </h5>
						</div>
						<div class="card-content" style="padding: 5px;">
							<!-- <span class="card-title">{{book.title}}</span> -->
							{% if book.logo_url %}
								<img src="{{ book.logo_url }}" class="img responsive-img" style="height: 300px">
							{% endif %}
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
		</div>
	</section>
{% endblock %}
